#!ipxe

:retry_dhcp
dhcp || goto retry_dhcp

{# Standalone ironic: use ironic-configured PXE configs #}
{% if not enable_neutron | bool %}
# load the MAC-specific file or fail if it's not found
:boot_system
chain pxelinux.cfg/${mac:hexhyp} || goto inspector_ipa
{% endif %}

:inspector_ipa
:retry_boot
imgfree
kernel --timeout 30000 {{ ironic_http_url }}/ironic-agent.kernel {{ ironic_inspector_kernel_params }} || goto retry_boot
initrd --timeout 30000 {{ ironic_http_url }}/ironic-agent.initramfs || goto retry_boot
boot
